@{
    ViewData["Title"] = "Contact Page";
}
<div style="padding:6px;">
    <h1>Contact Us</h1>
    <h2>Fill in your contact details below if you have any inquiries:</h2>
    <form>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="fname">
        <label for="fname">Last Name</label>
        <input type="text" id="lname" name="lname">
        <label for="fname">Email Address</label>
        <input type="text" id="fname" name="fname">
        <label for="fname">Cellphone Number</label>
        <input type="text" id="fname" name="fname">
    </form>
    <a href="#" class="button">Submit</a>
    <p> </p>
    <p>You can also contact us via:</p>
    <p>Email: kcemporium@gmail.com</p>
    <p>Office Number: 062 558 9782</p>

</div>