@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Logo.png"/>
    <img src="~/Images/Pottery Header.jpg" alt="Pottery" width="1300" height="250">
    <p> </p>
    <h2>Our Bestsellers!</h2>
    
    
    
    <div class="responsive">
        <div class="img">
            <a target="_blank" href="~/Images/vases.jpg">
                <img src="~/Images/vases.jpg" alt="Flower vases" width="300" height="200">
            </a>
            <div class="desc">Handmade vases</div>
        </div>
    </div>


    <div class="responsive">
        <div class="img">
            <a target="_blank" href="~/Images/pillows.jpg">
                <img src="~/Images/pillows.jpg" alt="Pillows" width="600" height="400">
            </a>
            <div class="desc">Hand-stitched pillows</div>
        </div>
    </div>

    <div class="responsive">
        <div class="img">
            <a target="_blank" href="~/Images/rugs.jpg">
                <img src="~/Images/rugs.jpg" alt="Rugs" width="600" height="400">
            </a>
            <div class="desc">Handcrafted rugs</div>
        </div>
    </div>

    <div class="responsive">
    <div class="img">
        <a target="_blank" href="~/Images/bag.jpg">
            <img src="~/Images/bag.jpg" alt="Side table" width="600" height="400">
        </a>
        <div class="desc">Handmade bags</div>
    </div>
</div>

    <div class="clearfix"></div>

    <div style="padding:6px;">
        <h2>Our Mission</h2>
        <p>By supporting KhumaloCraft, you're not just acquiring a beautiful piece for your home or wardrobe – you're also empowering artisans and preserving traditional crafts for generations to come. Join us on this journey to celebrate diversity, foster meaningful connections, and bring the world closer through the art of craftsmanship.</p>
        <p>What sets KhumaloCraft apart is our commitment to authenticity, quality, and cultural appreciation. Each item you find on our platform has been carefully curated to ensure it represents the rich traditions and craftsmanship of its origin. From intricately woven textiles to exquisitely carved woodwork, every piece tells a story and carries the passion of its creator.</p>
        <p>Explore our collections and embark on a voyage of discovery. Whether you're searching for a unique statement piece or a meaningful gift, Khumalo Craft has something special just waiting to be uncovered.</p>
        <h4>"Connecting Artisans, Empowering Creativity, Celebrating Handmade."</h4>
    </div>
    
</div>






