@{
    ViewData["Title"] = "My Work Page";
}
<div style="padding:6px;">
    <h1>My Work</h1>
    
    <h2>Explore Our Collection:</h2>
    <div class="container">
        <img src="~/Images/bags.jpg" alt="Bags" style="width:100%;">
        <div class="content">
            <h1>Handmade woven bags</h1>
            <p>Made from natural, sustainable materials such as locally sourced fibers and eco-friendly dyes, our woven bag not only exudes charm but also reflects our commitment to ethical and environmentally conscious practices. Every stitch and weave tells a story of dedication and passion, resulting in a one-of-a-kind accessory that's as unique as you are.</p>
            <p>Retails for: R200</p>
        </div>
    </div>
    </div>

   <div style="padding:6px;">
   <div class="container">
    <img src="~/Images/nordic.jpg" alt="nordic vases" style="width:100%;">
    <div class="content">
        <h1>Minimalist Nordic Vases</h1>
        <p>Crafted from high-quality ceramic, our Nordic vase boasts a sleek and minimalist silhouette, adorned with subtle yet striking geometric patterns reminiscent of Nordic landscapes. Its clean lines and understated beauty make it a versatile addition to any space, whether displayed as a standalone statement piece or paired with fresh blooms for a touch of natural beauty.</p>
        <p>Retails for: R300</p>
        </div>
    </div>
   </div>

    <div style="padding:6px;">
    <div class="container">
    <img src="~/Images/rugs.jpg" alt="rugs" style="width:100%;">
    <div class="content">
        <h1>Luxurious Handwoven Rug</h1>
        <p>Made from the finest natural fibers, our handwoven rug exudes softness and durability, providing a cozy foundation for your home decor. Whether placed in your living room, bedroom, or dining area, its sumptuous texture adds warmth and sophistication to any room.</p>
        <p>Retails for: R250 (R300 for custom design)</p>
        </div>
    </div>
    </div>

   <div style="padding:6px;">
   <div class="container">
    <img src="~/Images/Plates.jpg" alt="plates" style="width:100%;">
    <div class="content">
        <h1>Our Artisanal Ceramic plates</h1>
        <p>Experience the timeless elegance and exquisite craftsmanship of Japan with our artisanal ceramic plate, a piece that embodies the essence of Japanese culture and tradition. Each plate is meticulously crafted by our skilled artisans, where centuries-old pottery techniques are honored and preserved.</p>
        <p>Retails for: R350</p>
        </div>
    </div>
   </div>

   <div style="padding:6px;">
   <div class="container">
    <img src="~/Images/Tables.jpg" alt="tables" style="width:100%;">
    <div class="content">
        <h1> Handcrafted Teak Side Tables</h1>
        <p>The rich, golden hue of teak wood, prized for its durability and resistance to the elements, infuses each table with warmth and character, making it a stunning addition to any interior.With their sleek, minimalist design and organic texture, our teak side tables complement a wide range of decor styles, from modern to rustic. </p>
        <p>Retails for: R700</p>
        </div>
    </div>
   </div>

   <div style="padding:6px;">
   <div class="container">
    <img src="~/Images/pillows.jpg" alt="pillows" style="width:100%;">
    <div class="content">
            <h1>Luxurious Handwoven Pillows</h1>
            <p>
                Indulge in the ultimate comfort and style with our handwoven pillows, each one a masterpiece of artisanal craftsmanship originating from the vibrant weaving communities of South Africa.

                Crafted by skilled artisans using time-honored techniques passed down through generations, our pillows are made from the finest natural fibers, such as alpaca wool and cotton, sourced sustainably from local farms.
            </p>
            <p>Retails for: R350</p>
     </div>
    </div>
   </div>


   <div style="padding:6px;">
   <div class="container">
     <img src="~/Images/dior vase.jpg" alt="dior vase" style="width:100%;">
     <div class="content">
            <h1>Luxury Bag Vase</h1>
            <p>Experience the allure of Parisian couture and elevate your home decor with our exquisite Dior Bag Vase. Embrace the art of luxury living and bring a touch of runway glamour into your home with Khumalo Craft Emporium.Crafted with meticulous attention to detail, each Dior Bag Vase embodies the timeless elegance and sophistication synonymous with the Dior brand. Inspired by the iconic silhouette of Dior handbags, this exquisite vase features sleek lines, supple curves, and intricate detailing, creating a statement piece that seamlessly blends fashion and function.</p>
            <p>Retails for: R450</p>
        </div>
    </div>
   </div>

   

    

   
    

