@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Khumalo Craft Emporium respects your privacy and is committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and protect your information when you visit our website (the "Website") and use our services (the "Services").</p>

<h2>Information We Collect</h2>

<p>
    We collect several types of information when you use the Website and Services:
</p>

<h2>Information You Provide:</h2>

<p>
    Personal information you provide when registering for an account, such as your name, email address, shipping address, and billing address.
    Transaction information when you make a purchase, such as your payment method details.
    Information you submit through contact forms or surveys.
</p>

<h2>How We Use Your Information:</h2>

<p>
    We use your information for the following purposes:

    To provide and operate the Website and Services.
    To process your orders and transactions.
    To send you promotional emails and marketing communications (with your consent).
    To personalize your experience on the Website.
    To improve the Website and Services.
    To analyze trends and user behavior.
    To prevent fraud and illegal activity.
</p>

<h2>Disclosure of Your Information</h2>

<p>
    We may disclose your information to third-party service providers who help us operate the Website and Services, such as payment processors, shipping companies, and marketing agencies. We will only disclose your information to these providers to the extent necessary to perform their services.

    We may also disclose your information if we are required to do so by law or in the good faith belief that such disclosure is necessary to comply with a court order, subpoena, or other legal process.

</p>

<h2>Security</h2>

<p>
    We take reasonable steps to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no website or internet transmission is completely secure. We cannot guarantee the security of your information.
</p>

<h2>Children's Privacy</h2>

<p>
    The Website and Services are not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and you believe your child has provided us with personal information, please contact us.
</p>
